[user]
	email = 32443233+kanreki@users.noreply.github.com
	name = kanreki
[credential]
	helper = pat.sh
[status]
	showUntrackedFiles = no
[core]
	pager = 
[credential "https://github.com"]
	username = kanreki
